<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Bootstrap 5 --}}
    <link rel="stylesheet" href="/bootstrap-5/css/bootstrap.min.css">
    {{!-- CSS --}}
    <link rel="stylesheet" href="/css/main.css">

    <title>{{title}}</title>
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-light py-4">
        <div class="container">
            <a class="navbar-brand fw-bold" href="/">Poosty</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    {{#if isAuthenticated }}
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="/posts">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold me-2" href="/posts">{{user.username}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold text-white me-1 btn btn-sm btn-danger" href="/logout"
                            onclick="return confirm('Are you sure to logout?');">Logout</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link fw-bold me-2" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold text-white me-1 btn btn-sm btn-primary" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold btn btn-sm text-white btn-primary"
                            href="/registration">Registration</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {{{body}}}
    </div>

    <script src="/bootstrap-5/js/bootstrap.bundle.min.js"></script>
</body>

</html>