<div class="row">
    <div class="col-md-6 mx-auto">
        {{#if successMessage}}
        <div class="alert alert-success" role="alert">
            {{successMessage}}
        </div>
        {{/if}}
        <a href="/posts/create" class="btn btn-primary fw-bold">Create Post</a>
        {{#each posts}}
        <div class="card">
            <div class="card-body">
                {{this.content}}
            </div>
        </div>
        {{else}}
        <p class="text-danger text-center py-5 fw-bold">Posts does not exist.</p>
        {{/each}}
    </div>
</div>